<h1>yonmoque.</h1>
<div id="current-turn">青のターン</div>
<input id="turn-end" type="button" value="ターン終了">
<center>
<div id="white-piece">○○○○○○ </div>
<table>
  <tbody>
    <th>
      <td id="x-point">a</td>
      <td id="x-point">b</td>
      <td id="x-point">c</td>
      <td id="x-point">d</td>
      <td id="x-point">e</td>
    </th>
    <tr>
      <td id="x-point">1</td>
      <td id="cell-1a"></td>
      <td id="cell-1b"></td>
      <td id="cell-1c"></td>
      <td id="cell-1d"></td>
      <td id="cell-1e"></td>
    </tr>
    <tr>
      <td id="x-point">2</td>
      <td id="cell-2a"></td>
      <td id="cell-2b"></td>
      <td id="cell-2c"></td>
      <td id="cell-2d"></td>
      <td id="cell-2e"></td>
    </tr>
    <tr>
      <td id="x-point">3</td>
      <td id="cell-3a"></td>
      <td id="cell-3b"></td>
      <td id="cell-3c"></td>
      <td id="cell-3d"></td>
      <td id="cell-3e"></td>
    </tr>
    <tr>
      <td id="x-point">4</td>
      <td id="cell-4a"></td>
      <td id="cell-4b"></td>
      <td id="cell-4c"></td>
      <td id="cell-4d"></td>
      <td id="cell-4e"></td>
    </tr>
    <tr>
      <td id="x-point">5</td>
      <td id="cell-5a"></td>
      <td id="cell-5b"></td>
      <td id="cell-5c"></td>
      <td id="cell-5d"></td>
      <td id="cell-5e"></td>
    </tr>
  </tbody>
</table>
<br />
<div id="blue-piece">●●●●●●</div>
</center>

