/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 table {
  border: solid 1px #000;
}
*/

#x-point {
  border: none;
  width: 40px;
  height: 40px;
  text-align: center;
}

table td, table tr {
  border: solid 1px #000;
  padding: 20px;
}

table td {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 150%;
}

#cell-1b, #cell-1d, 
#cell-2a, #cell-2c, #cell-2e,
#cell-3b, #cell-3d,
#cell-4a, #cell-4c, #cell-4e,
#cell-5b, #cell-5d {
  background-color: #eeeeee;
}

#cell-1c,
#cell-2b, #cell-2d,
#cell-3a, #cell-3e,
#cell-4b, #cell-4d,
#cell-5c {
  background-color: #2d4eb2;
}

#cell-1a, #cell-1e,
#cell-3c,
#cell-5a, #cell-5e {
  background-color: #919191;
}

#current-turn, #turn-end {
  font-size: 200%;
}

#turn-end {
  width: 100px;
  height: 200px;
}

#white-piece, #blue-piece {
  font-size: 300%;
}