/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 table {
  border: solid 1px #000;
}
*/

#x-point {
  border: none;
  width: 40px;
  height: 40px;
  text-align: center;
}

table td, table tr {
  border: solid 1px #000;
  padding: 20px;
}

table td {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 150%;
}

#cell-12, #cell-14,
#cell-21, #cell-23, #cell-25,
#cell-32, #cell-34,
#cell-41, #cell-43, #cell-45,
#cell-52, #cell-54 {
  /*background-color: #eeeeee;*/
  background-color: #ffffff;
}

#cell-13,
#cell-22, #cell-24,
#cell-31, #cell-35,
#cell-42, #cell-44,
#cell-53 {
  /*background-color: #2d4eb2;*/
  background-color: #ccffff;
}

#cell-11, #cell-15,
#cell-33,
#cell-51, #cell-55 {
  /*background-color: #919191;*/
  background-color: #eeeeee;
}

#current-turn, #turn-end, #msg {
  font-size: 200%;
}

#turn-end {
  width: 100px;
  height: 200px;
}

#white-piece, #blue-piece {
  font-size: 300%;
}